{% extends 'base/template.html' %}
{% load staticfiles %}

{% block SubTitle %}
<h1 class="subtitle"><strong>DISTRIBUCIÓN T DE STUDENT</strong></h1><br>
{% endblock %}

{% block content %}
<div class="changes-info contendor-info">
	<h1 align="center"><strong>VIDEO EXPLICATIVO</strong></h1>
	<br>
	<div align="center">
		<iframe width="853" height="480" src="https://www.youtube.com/embed/cnrpYAsM9kI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p>
			Para mas videos relacionados visita este canal de youtube <strong>Universitat Politècnica de València - UPV</strong>
		</p>
	</div>
	<br><br>

</div>

{% endblock %}
